<!-- Footer -->
<section id="footer">
    <h4>Copyright &#169 Jalen Pinder 2024</h4>
    <ul>
        <li><a href="https://jalentayshaun.com/">
                <img src="main/images/svgs/briefcase-solid.svg" alt="Portfolio">
            </a></li>
        <li><a href="https://www.instagram.com/jalentayshaun/">
                <img src="main/images/svgs/instagram.svg" alt="Instagram">
            </a></li>
        <li><a href="www.linkedin.com/in/jalen-pinder">
                <img src="main/images/svgs/linkedin.svg" alt="LinkedIn">
            </a></li>
        <li><a href="https://github.com/jalentayshaun">
                <img src="main/images/svgs/github.svg" alt="GitHub">
            </a></li>
    </ul>
</section>
</body>

</html>