<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main/styles.css">
    <title>Blog Website</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="logo"></div>
        <div id="header-menu">
            <a href="/">
                <img src="main/images/svgs/house-user-solid.svg" alt="">
            </a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div id="user-login">
            <button>
                <img src="main/images/svgs/user-solid.svg" alt="">
            </button>
        </div>
    </section>