body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

section {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid rgb(0, 153, 255);
    display: flex;
}

a {
    text-decoration: none;
}

/* Header */
#header {
    flex-direction: row;
    justify-content: space-between;
    min-height: 10vh;
}

#header-menu {
    justify-content: space-evenly;
    min-width: 50%;
}

/* Blog Container */
#blog-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 90vh;
}

#blog-container > section {
    min-height: 100%;
    overflow-y: scroll;
}

/* Menu Bar */
#menu-bar {
}

/* Post Feed */
#feed {
}

#feed > div {
    flex-direction: column;
    width: 80%;
}

#post-data img {

}

/* p.username { IN CASE YOU CANT ADD SPACING AROUND THE USERNAME WITH A SPAN TAG

} */

/* Post Submit Bar */
#post-bar {
}

#post-bar form {
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    width: 90%;
}