:root {
    --primary-yellow: #ffd43b;
    --accent-blue: rgb(0, 18, 100);
    --tertiary-grey: rgb(52, 52, 52);
    --light-grey: rgb(240, 240, 240);
    /* --background-color: rgb(29, 29, 29); */
}

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 200;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 900 */

.bodoni-moda {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Bodoni Moda", serif;
    padding: 0;
    margin: 0;
}

section {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

div {
    /* border: 1px solid rgb(0, 153, 255); */
    display: flex;
}

h1 {
    font-size: 3rem;
}

h1, h2 {
    margin: 0;
    padding: 1rem;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    width: 80%;
    background-color: var(--tertiary-grey);
}

form input {
    font-size: 1rem;
    border-radius: 5px;
    min-height: 3rem;
}

form input[type=text] {
    border: 2px solid var(--primary-yellow);
}

form input[name=message] {
    min-height: 6rem;
}

form input[type=submit] {
    border: 2px solid black;
    background-color: var(--primary-yellow);
}

/* Header */
#header {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--tertiary-grey);
    border-bottom: 5px solid var(--primary-yellow);
    min-height: 5vh;
}

#header-menu {
    justify-content: space-evenly;
    align-items: center;
    min-width: 50%;
}

#header-menu img {
    min-height: 2rem;
}

#header-menu a {
    color: white;
}

#user-login button {
   background: none;
}

#user-login img {
    min-height: 2rem;
}

/* Blog Container */
#blog-container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 95vh;
}

#blog-container > section {
    height: 100%;
    /* padding-bottom: 3rem; */
}

/* Menu Bar */
#menu-bar {
    align-items: center;
    background-image: url("../main/images/svgs/pattern-2.svg");
}

/* #menu-bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

#menu-bar ul li {
    padding: 0.5rem 0rem;
} */

#menu-bar a {
    color: black;
    font-size: larger;
    padding: 0.5rem 1rem;
}

#menu-bar a:hover {
    color: var(--primary-yellow);
    border-radius: 10px;
    background-color: var(--tertiary-grey);
}

/* Post Feed */
#feed {
    overflow-y: scroll;
    border-left: 2px solid var(--primary-yellow);
    border-right: 2px solid var(--primary-yellow);
    background-color: var(--light-grey);
}

#feed > small {
    margin-bottom: 2rem;
}

#post {
    color: white;
    flex-direction: column;
    width: 80%;
    border-radius: 15px;
    background-color: var(--tertiary-grey);
    margin-bottom: 1.5rem;
}

#post > div {
    padding: 15px;
}

#post-data {
    color: var(--primary-yellow);
    font-family: "Abril Fatface", serif;
    font-weight: lighter;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid var(--light-grey);
}

#post-message {
    flex-direction: column;
}

#post-message h3 {
    margin: 0px 0px 10px 0px;
}

#post-message p {
    padding: 15px;
    margin: 0;
    background-color: rgb(65, 65, 65);
    border-radius: 0px 0px 15px 15px;
}

/* #post-data a {
    border: 1px solid red;
    border-radius: 50%;
    min-width: 2rem;
    min-height: 2rem;
} */

#post-data img {
    min-height: 1.5rem;
}

/* Post Submit Bar */
#post-bar {
    background-image: url("../main/images/svgs/pattern-2.svg");
}

/* About */
#about {
    justify-content: center;
    width: 80%;
}

/* Contact */
#contact {
    justify-content: center;
    width: 80%;
}

#contact form { 
    width: 100%;
}

#sender-name {
    display: flex;
    gap: 5px;
}

#sender-name > input {
    flex: 1;
}

/* Footer */
#footer {
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-top: 5px solid var(--primary-yellow);
    background-color: var(--tertiary-grey);
}

#footer ul {
    display: flex;
    list-style: none;
}

#footer ul li {
    padding: 0rem 1rem;
}

#footer ul li img {
    min-height: 2rem;
}