<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main/styles.css">
    <title>Blog Website</title>
</head>
<body>
    <!-- Header -->
    <section id="header">
        <div></div>
        <div id="header-menu">
            <a href="#">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
        <div></div>
    </section>

    <!-- Blog Container -->
    <section id="blog-container">
        <!-- Left side menu -->
        <section id="menu-bar">
            <h1>Menu Bar</h1>
        </section>
        
        <!-- Post feed -->
        <section id="feed">
            <h1>Welcome Home</h1>
        </section>
        
        <!-- Post form -->
        <section id="post-bar">
            <h1>Post Form</h1>
        </section>
    </section>
</body>
</html>